# MariaDB
SQL_DATABASE=
SQL_USER=
SQL_PASSWORD=
SQL_ROOT_PASSWORD=

# WordPress
DOMAIN_NAME=emaigne.42.fr
WP_TITLE=
WP_ADMIN_USER=
WP_ADMIN_PASSWORD=
WP_ADMIN_EMAIL=
WP_USER=
WP_USER_EMAIL=
WP_USER_PASSWORD=